/* Import all theme CSS files */
@import "../themes/default.css";
@import "../themes/dark.css";
@import "../themes/ocean.css";
@import "../themes/shadow.css";
@import "../themes/moonlight.css";
@import "../themes/catppuccin.css";

/* Import theme toggle button styles */
@import "theme-toggle";

@layer hidden {
    // custom layer to hide elements without using !important
    // (as long as this layer is higher than custom-styles)
    // this is to fix issues with tailwinds hidden class
    // while still working for scss files
    .hidden {
        display: none;
    }

    // same for invisible
    .invisible {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

@layer custom-styles {
    @import "buttons", "404", "ads", "account", "animations", "caret",
        "commandline", "core", "fonts", "inputs", "keymap", "login", "monkey",
        "nav", "notifications", "popups", "scroll", "settings",
        "account-settings", "leaderboards", "test", "loading", "friends",
        "media-queries";

    .chartCanvas {
        width: 100% !important;
    }
}

/* AGGRESSIVE UI OVERRIDE */
.page {
    display: none !important;
}

.page.pageTest {
    display: block !important;
}

#popups {
    display: none !important;
}

#words {
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    flex-wrap: wrap !important;
}

/* Fix canvas size limit issues */
canvas {
    max-width: 100vw;
    max-height: 800px;
}
